<div class="carousel-section">
    <h2 style="text-align: center; margin-bottom: 20px;" data-i18n="CARROUSEL.TITLE"></h2>
    
    <div id="drag-container">
        <div id="spin-container">
            {% for p in productos %}
            <div class="card-3d" onclick="selectProduct('{{ p.id }}')">
                <img src="{{ p.imagen_url }}" alt="{{ p.nombre }}">
                <div class="card-3d-text">
                    <span class="p-name">{{ p.nombre }}</span>
                </div>
            </div>
            {% endfor %}
            
            <p data-i18n="CARROUSEL.WHB"></p>
        </div>
        <div id="ground"></div>
    </div>
</div>